^ContentPage {
    background-color: #52796f;
}
.itemFrame {
    padding: 10;
    background-color: #84a98c;
}
#page-title {
    font-size: 22;
    color: #cad2c5;
    margin: 0, 10;
    font-weight: bold;
}

button {
    background-color: #cad2c5;
    color: #52796f;
    font-weight: bold;
}